@font-face {
  font-family: Trebuchet;
  src: url(../fonts/trebuchet.ttf);
}
@font-face {
  font-family: HandelGothic;
  src: url(../fonts/handelGothic.ttf);
}

:root{
  --azul-claro:#00AFEF;
  --azul-escuro:#0F6482;
  --cinza-claro:#E6E6E6;
  --cinza-escuro:#B3B3B3;
  --preto-claro:#5a5a5a;
  --preto:#1C1C1C;
  --branco:#FFFFFF;

  --fonte-padrao:"Trebuchet", sans-serif;
  --fonte-simple:"HandelGothic", sans-serif;

  --altura-header:4rem;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}
fieldset{
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  border-spacing: unset;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: var(--altura-header);
}

body {
  font-family: var(--fonte-padrao);
  height: 100vh;
}


main{
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

*{
  margin: 0;
}

.cube {
  background-image: url("../img/cube.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin-top:0.15rem;
  margin-right: 0.25rem;
  width: 1.1rem;
  height: 1.1rem;
}

.invisivel{
  display: none;
  opacity: 0;
}

/* MOBILE */
@media screen and (min-width:0){
  
}/* MOBILE - FIM */


/* TABLET */
@media screen and (min-width: 768px){
  
}/* TABLET - FIM */


/* 1024 */
@media screen and (min-width: 1024px){
  
}/* 1024 - FIM */


/* 1200 */
@media screen and (min-width: 1200px){
  
}/* 1200 - FIM */